---
meta_title: Form & Function | Digital Product Studio
---

<html lang="en-us">
  <head>

      {% include head.html %}

      {% include headjs.html %}
  </head>
  <body>

    <div id="main" class="content home-padding flex flex-horizontal-center">

      <div id="logo">
        <div class="logo">
          <img src="../assets/media/main-logo.png" alt="Form &amp; Function">
        </div>
      </div>

      <div class="section-break"></div>

      <div id="introduction" class="section-p-top section-p-bottom col">
        <div class="col-1">
          <span class="section-title">Introduction</span>
        </div>
        <div class="col-2">
          <p class="section-content">Form & Function is a digital product design studio focusing on core problems, not signup flows.</p>
        </div>
      </div>

      <div class="section-break"></div>

      <div id="clients" class="section-p-top section-p-bottom col">
        <div class="col-1">
          <span class="section-title">Previous Clients</span>
        </div>
        <div class="col-2">
          <p class="section-content">Harley Davidson, Staples, Fidelity, ShearShare, Octane AI.</p>
        </div>
      </div>

      <div class="section-break"></div>

      <div id="principles" class="section-p-top section-p-bottom col">
        <div class="col-1">
          <span class="section-title">Guiding Principles</span>
        </div>
        <div class="col-2">
          <ul>
            <li>
              <div class="col-1">
                <p class="section-content">01.</p>
              </div>
              <div class="col-5">
                <p class="section-content">{something about bespoke solutions}</p>
              </div>
              <div class="section-break mobile-hide"></div>
            </li>
            <li>
              <div class="col-1">
                <p class="section-content">02.</p>
              </div>
              <div class="col-5">
                <p class="section-content">Emphasizes prototypes over presentations and reports.</p>
              </div>
              <div class="section-break mobile-hide"></div>
            </li>
            <li>
              <div class="col-1">
                <p class="section-content">03.</p>
              </div>
              <div class="col-5">
                <p class="section-content">Focuses only on 3 key areas for product success.</p>
              </div>
              <div class="section-break mobile-hide"></div>
            </li>
            <li>
              <div class="col-1">
                <p class="section-content">04.</p>
              </div>
              <div class="col-5">
                <p class="section-content">Relies heavily on data and user research.</p>
              </div>
              <div class="section-break mobile-hide"></div>
            </li>
            <li>
              <div class="col-1">
                <p class="section-content">05.</p>
              </div>
              <div class="col-5">
                <p class="section-content">Embeds in client teams to reduce overhead.</p>
              </div>
              <div class="section-break mobile-hide"></div>
            </li>
            <li>
              <div class="col-1">
                <p class="section-content">06.</p>
              </div>
              <div class="col-5">
                <p class="section-content">{something about being nimble and practing with agility}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="section-break"></div>

      <div id="mission" class="section-p-top section-p-bottom col">
        <div class="col-1">
          <span class="section-title">Our Mission</span>
        </div>
        <div class="col-2">
          <p class="section-content">We partner with ambitious clients to identify and solve core user problems with ground-breaking digital solutions.</p>
        </div>
      </div>

      <div class="section-break"></div>

      <div id="experience" class="section-p-top section-p-bottom col">
        <div class="col-1">
          <span class="section-title">Experience</span>
        </div>
        <div class="col-2">
          <p class="section-content">Some stuff about Rathan and I's experience.</p>
        </div>
      </div>

      <div id="footer" class="footer">
      <div class="section-break"></div>
        <div class="footer-content section-p-top section-p-bottom col">
          <div class="footer-col">
            <span class="footer-label">Offices</span>
            <p class="footer-p">New York, NY<br>San Francisco, CA</p>
          </div>
          <div class="footer-col mobile contact">
            <div class="section-break desktop-hide"></div>
            <div class="contact-content">
              <span class="footer-label">Contact</span>
              <a href="mailto:hey@fandf.xyz.com" class="footer-p desktop-hide">hey@ff.xyz</a>
              <a data-clipboard-text="hey@fandf.xyz" class="no-smoothState copied mobile-hide">
                <span>hey@fandf.xyz</span>
              </a>
            </div>
          </div>
          <div class="footer-col">
            <span class="footer-label">Copyright</span>
            <p class="footer-p">Form & Function, 2017</p>
          </div>

        </div>
      </div>

    </div>





    {% include message.html %}

    {% include js.html %}

  </body>
</html>
